.header-container {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: #fafafa;
    display: grid;
    z-index: 2;
    place-items: center;
}

.burger {
    display: none;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

header {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: #383838;
    
}

[aria-current='page'], .active {
    font-weight: bold;
    color: #3FEBAF;
}

@media (max-width: 1000px) {
    header {
        width: 100%;
        background-color: #383838;
        transform:translateY(-100%);
        grid-auto-flow: row;
        align-content: center;
        min-height: 100vh;
        transition: .4s ease;
    }

    header a {
        font-size: 2rem;
        color: #fafafa;
    }

    header.visible {
        transform:translateY(0);

    }

    .burger {
        display: block;
    }

    main {
        padding: 20vh 5vw;
    }
    
}